{
  "openapi": "3.0.1",
  "info": {
    "description": "",
    "title": "Vendor API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.nomba.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.nomba.com"
    }
  ],
  "tags": [
    {
      "name": "Authenticate"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Terminals"
    },
    {
      "name": "Transactions"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Online Checkout"
    }
  ],
  "paths": {
    "/v1/auth/token/issue": {
      "post": {
        "description": "You can use this endpoint to authenticate with Nomba.",
        "operationId": "Obtain access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueTokenRequest"
              }
            }
          },
          "description": "The request payload required for authentication",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IssueTokenResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Your authentication request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "summary": "Obtain access token",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/v1/auth/token/refresh": {
      "post": {
        "description": "You can use this endpoint to refresh an expired `access_token`.",
        "operationId": "Refresh an expired token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "description": "The request payload required to refresh the client's `access_token`",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IssueTokenResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Your request to refresh a token was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Refresh an expired token",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/v1/auth/token/revoke": {
      "post": {
        "description": "You can use this endpoint to revoke an `access_token`.",
        "operationId": "Revoke an access_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          },
          "description": "The request payload required to revoke a clients `access_token`",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeTokenResponse"
                }
              }
            },
            "description": "Your request to revoke an access_token was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "summary": "Revoke an access_token",
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "description": "You can use this endpoints to fetch all the accounts tied to a business. Accounts are sorted by date, with the most recently-created account appearing first.",
        "operationId": "List all accounts",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Contains all accounts tied to a specific merchant/business",
                      "items": {
                        "type": "object",
                        "description": "A structure representing a Nomba account.",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "description": "The id of the account.",
                            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
                            "maxLength": 36,
                            "minLength": 36
                          },
                          "accountHolderId": {
                            "type": "string",
                            "description": "The businessId of the parent that houses this account.",
                            "example": "412316"
                          },
                          "accountRef": {
                            "type": "string",
                            "description": "Unique reference used to track an account from an external process. Would be auto-generated if not provided at the point of creation.",
                            "example": "ACT_AMF0YN8UWH8CR8JZ",
                            "maxLength": 20,
                            "minLength": 20
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The phoneNumber that is unique to the account bearer.",
                            "example": "2348188667580"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email of the account bearer.",
                            "example": "test123@exam.ple"
                          },
                          "bvn": {
                            "type": "string",
                            "description": "Bank verification number of the account bearer.",
                            "example": "12234412345",
                            "maxLength": 11,
                            "minLength": 11
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the account.",
                            "enum": [
                              "virtual",
                              "physical"
                            ],
                            "example": "physical"
                          },
                          "accountName": {
                            "type": "string",
                            "description": "Name of the account bearer.",
                            "example": "Testing Testing123",
                            "maxLength": 255,
                            "minLength": 2
                          },
                          "banks": {
                            "type": "array",
                            "description": "Contains all the bank details tied to a Nomba account",
                            "items": {
                              "type": "object",
                              "description": "A structure representing a bank account",
                              "properties": {
                                "bankAccountNumber": {
                                  "type": "string",
                                  "description": "The bank account number tied to the Nomba account.",
                                  "example": "0554772814",
                                  "maxLength": 10,
                                  "minLength": 10
                                },
                                "bankName": {
                                  "type": "string",
                                  "description": "The bank's name.",
                                  "example": "Wema Bank"
                                },
                                "bankAccountName": {
                                  "type": "string",
                                  "description": "The name on the account.",
                                  "example": "M.A Animashaun"
                                }
                              }
                            }
                          },
                          "address": {
                            "type": "string",
                            "description": "Address of the account bearer.",
                            "example": "4, Alagomeji, Yaba, Lagos",
                            "maxLength": 255,
                            "minLength": 0
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the account.",
                            "enum": [
                              "active",
                              "pnd",
                              "fraudulent",
                              "suspend"
                            ],
                            "example": "active"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Primary currency on the account (Only supported at the moment is “NGN”).",
                            "example": "NGN",
                            "maxLength": 3,
                            "minLength": 3
                          },
                          "description": {
                            "type": "string",
                            "description": "Brief description of the account.",
                            "example": "Meat kebab spot"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The date and time this entity was created. This value uses Coordinated Universal Time (UTC) and ISO 8601 format – `YYYY-MM-DDThh:mm:ssZ`.",
                            "example": "2022-07-08T14:33:00Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "The date and time this entity was updated. This value uses Coordinated Universal Time (UTC) and ISO 8601 format – `YYYY-MM-DDThh:mm:ssZ`.",
                            "example": "2022-07-08T14:33:00Z"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "int32",
                      "description": "Value used to scroll to next page. It will be empty if there is no more page to scroll to",
                      "example": "xchbaVFsjdsbaADddd"
                    }
                  }
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List all accounts",
        "tags": [
          "Accounts"
        ]
      },
      "post": {
        "description": "You can use this endpoint to create an account that is part of your business.",
        "operationId": "Create an account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "description": "The request payload required to create an account",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreateAccountResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Account creation successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/virtual": {
      "post": {
        "description": "You can use this endpoint to create a virtual account that is part of your business.",
        "operationId": "Create virtual account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVirtualAccountRequest"
              }
            }
          },
          "description": "The request payload required to create an account",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreateVirtualAccountResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Account creation successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create virtual account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}": {
      "get": {
        "description": "You can use this endpoint to get details of a single account.",
        "operationId": "Fetch account details",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The details of the account to be fetched.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountDetailsResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch account details",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/parent": {
      "get": {
        "description": "You can use this endpoint to get details of the parent account.",
        "operationId": "Fetch parent account details",
        "parameters": [
          {
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountDetailsResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch parent account details",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}/balance": {
      "get": {
        "description": "You can use this endpoint to get the balance of a single account.",
        "operationId": "Fetch account balance",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account whose balance is to be fetched.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountBalanceResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch account balance",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/balance": {
      "get": {
        "description": "You can use this endpoint to get the balance of the parent account.",
        "operationId": "Fetch parent account balance",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountBalanceResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch parent account balance",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/suspend/{accountId}": {
      "put": {
        "description": "You can use this endpoint to suspend an account.",
        "operationId": "Suspend an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account to be suspended.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "type": "boolean",
                      "description": "Response data",
                      "example": true
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Suspend an account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/reactivate/{accountId}": {
      "put": {
        "description": "You can use this endpoint to reactivate an account.",
        "operationId": "Reactivate an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account to be reactivated.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "type": "boolean",
                      "description": "Response data",
                      "example": true
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Reactivate an account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}/terminals": {
      "get": {
        "description": "You can use this endpoint to fetch terminals linked to an account.",
        "operationId": "Fetch terminals assigned to an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The accountId whose transactions are to be fetched.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "2KUD1234",
            "in": "query",
            "name": "terminalId",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "91235335668790",
            "in": "query",
            "name": "serialNumber",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal Label",
            "example": "M.A.Terminal",
            "in": "query",
            "name": "terminalLabel",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Merchant Name",
            "example": "Daniel.Sc",
            "in": "query",
            "name": "merchantName",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TerminalListResults"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch terminals assigned to an account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/terminals": {
      "get": {
        "description": "You can use this endpoint to fetch terminals linked to the parent account.",
        "operationId": "Fetch terminals assigned to the parent account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "2KUD1234",
            "in": "query",
            "name": "terminalId",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "91235335668790",
            "in": "query",
            "name": "serialNumber",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal Label",
            "example": "M.A.Terminal",
            "in": "query",
            "name": "terminalLabel",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Merchant Name",
            "example": "Daniel.Sc",
            "in": "query",
            "name": "merchantName",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TerminalListResults"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch terminals assigned to the parent account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/checkout/order": {
      "post": {
        "description": "You can use this endpoint to create an online checkout order. Load the URL returned in 'checkoutLink' property in a browser to allow your customer initiate payment.",
        "operationId": "Create an online checkout order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          },
          "description": "The request payload required to create a checkout order.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "checkout order created successful"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreateOrderResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create an online checkout order",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Online Checkout"
        ]
      }
    },
    "/v1/checkout/tokenized-card-payment": {
      "post": {
        "description": "You can use this endpoint to charge a customer's card using the tokenized card details.",
        "operationId": "charge customer with tokenized card data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizedCardPaymentRequest"
              }
            }
          },
          "description": "The request payload required to perform a tokenized payment.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "payment successful"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TokenizedCardPaymentResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Charge a customer using tokenized card data",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Online Checkout"
        ]
      }
    },
    "/v1/checkout/tokenized-card-data": {
      "get": {
        "description": "Fetch list of merchant's tokenized cards",
        "operationId": "List all tokenized cards for merchant",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "Merchant's email address",
            "example": "abcde@gmail.com",
            "in": "query",
            "name": "customerEmail",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start date, based on the date the token was created",
            "example": "2023-08-08T23:59:59",
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "end date, based on the date the token was created",
            "example": "2023-08-08T23:59:59",
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specifies the page number to start retriving data from. For first request, this can be ommited or set to 0",
            "example": 0,
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "response description"
                    },
                    "data": {
                      "type": "object",
                      "properties":{
                        "nextPage": {
                          "type": "string",
                          "format": "int32",
                          "description": "The value of the next page for data retrieval. This value is zero if there are no more pages to retrieve",
                          "example": "2"
                        },
                        "tokenizedCardDataList": {
                          "type": "array",
                          "description": "Contains all tokenized card data meeting the search criteria",
                          "items": {
                            "$ref":
                            "#/components/schemas/TokenizedCardData"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List tokenized cards",
        "tags": [
          "Online Checkout"
        ]
      },
      "post": {
        "description": "Update a tokenized card details",
        "operationId": "Update tokenized card data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTokenizedCardDataRequest"
              }
            }
          },
          "description": "The request payload required to upate the tokenized card data",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateTokenizedCardDataResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Data update successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Update tokenzied card data",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Online Checkout"
        ]
      },
      "delete": {
        "description": "Delete a tokenized card details",
        "operationId": "Delete tokenized card data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTokenizedCardDataRequest"
              }
            }
          },
          "description": "The request payload required to upate the tokenized card data",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeleteTokenizedCardDataResponse"
                    }
[...]
