{
  "openapi": "3.0.1",
  "info": {
    "description": "",
    "title": "Vendor API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.nomba.com"
    },
    {
      "description": "Sandbox",
      "url": "https://sandbox.nomba.com"
    }
  ],
  "tags": [
    {
      "name": "Authenticate"
    },
    {
      "name": "Accounts"
    },
    {
      "name": "Virtual Accounts"
    },
    {
      "name": "Online Checkout"
    },
    {
      "name": "Charge"
    },
    {
      "name": "Transfers"
    },
    {
      "name": "Terminals"
    },
    {
      "name": "Transactions"
    }
  ],
  "paths": {
    "/v1/auth/token/issue": {
      "post": {
        "description": "You can use this endpoint to authenticate with Nomba.",
        "operationId": "Obtain access token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueTokenRequest"
              }
            }
          },
          "description": "The request payload required for authentication",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IssueTokenResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Your authentication request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "summary": "Obtain access token",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/v1/auth/token/refresh": {
      "post": {
        "description": "You can use this endpoint to refresh an expired `access_token`.",
        "operationId": "Refresh an expired token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "description": "The request payload required to refresh the client's `access_token`",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/IssueTokenResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Your request to refresh a token was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Refresh an expired token",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/v1/auth/token/revoke": {
      "post": {
        "description": "You can use this endpoint to revoke an `access_token`.",
        "operationId": "Revoke an access_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RevokeTokenRequest"
              }
            }
          },
          "description": "The request payload required to revoke a clients `access_token`",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeTokenResponse"
                }
              }
            },
            "description": "Your request to revoke an access_token was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "summary": "Revoke an access_token",
        "tags": [
          "Authenticate"
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "description": "You can use this endpoints to fetch all the accounts tied to a business. Accounts are sorted by date, with the most recently-created account appearing first.",
        "operationId": "List all accounts",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "description": "Contains all accounts tied to a specific merchant/business",
                      "items": {
                        "type": "object",
                        "description": "A structure representing a Nomba account.",
                        "properties": {
                          "accountId": {
                            "type": "string",
                            "description": "The id of the account.",
                            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
                            "maxLength": 36,
                            "minLength": 36
                          },
                          "accountHolderId": {
                            "type": "string",
                            "description": "The businessId of the parent that houses this account.",
                            "example": "412316"
                          },
                          "accountRef": {
                            "type": "string",
                            "description": "Unique reference used to track an account from an external process. Would be auto-generated if not provided at the point of creation.",
                            "example": "ACT_AMF0YN8UWH8CR8JZ",
                            "maxLength": 20,
                            "minLength": 20
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "The phoneNumber that is unique to the account bearer.",
                            "example": "2348188667580"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email of the account bearer.",
                            "example": "test123@exam.ple"
                          },
                          "bvn": {
                            "type": "string",
                            "description": "Bank verification number of the account bearer.",
                            "example": "12234412345",
                            "maxLength": 11,
                            "minLength": 11
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of the account.",
                            "enum": [
                              "virtual",
                              "physical"
                            ],
                            "example": "physical"
                          },
                          "accountName": {
                            "type": "string",
                            "description": "Name of the account bearer.",
                            "example": "Testing Testing123",
                            "maxLength": 255,
                            "minLength": 2
                          },
                          "banks": {
                            "type": "array",
                            "description": "Contains all the bank details tied to a Nomba account",
                            "items": {
                              "type": "object",
                              "description": "A structure representing a bank account",
                              "properties": {
                                "bankAccountNumber": {
                                  "type": "string",
                                  "description": "The bank account number tied to the Nomba account.",
                                  "example": "0554772814",
                                  "maxLength": 10,
                                  "minLength": 10
                                },
                                "bankName": {
                                  "type": "string",
                                  "description": "The bank's name.",
                                  "example": "Wema Bank"
                                },
                                "bankAccountName": {
                                  "type": "string",
                                  "description": "The name on the account.",
                                  "example": "M.A Animashaun"
                                }
                              }
                            }
                          },
                          "address": {
                            "type": "string",
                            "description": "Address of the account bearer.",
                            "example": "4, Alagomeji, Yaba, Lagos",
                            "maxLength": 255,
                            "minLength": 0
                          },
                          "status": {
                            "type": "string",
                            "description": "Status of the account.",
                            "enum": [
                              "active",
                              "pnd",
                              "fraudulent",
                              "suspend"
                            ],
                            "example": "active"
                          },
                          "currency": {
                            "type": "string",
                            "description": "Primary currency on the account (Only supported at the moment is “NGN”).",
                            "enum": [
                              "NGN"
                            ],
                            "example": "NGN",
                            "maxLength": 3,
                            "minLength": 3
                          },
                          "description": {
                            "type": "string",
                            "description": "Brief description of the account.",
                            "example": "Meat kebab spot"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "The date and time this entity was created. This value uses Coordinated Universal Time (UTC) and ISO 8601 format – `YYYY-MM-DDThh:mm:ssZ`.",
                            "example": "2022-07-08T14:33:00Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "The date and time this entity was updated. This value uses Coordinated Universal Time (UTC) and ISO 8601 format – `YYYY-MM-DDThh:mm:ssZ`.",
                            "example": "2022-07-08T14:33:00Z"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "int32",
                      "description": "Value used to scroll to next page. It will be empty if there is no more page to scroll to",
                      "example": "xchbaVFsjdsbaADddd"
                    }
                  }
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "List all accounts",
        "tags": [
          "Accounts"
        ]
      },
      "post": {
        "description": "You can use this endpoint to create an account that is part of your business.",
        "operationId": "Create an account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "description": "The request payload required to create an account",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreateAccountResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Account creation successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}": {
      "get": {
        "description": "You can use this endpoint to get details of a single account.",
        "operationId": "Fetch account details",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The details of the account to be fetched.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountDetailsResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch account details",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/parent": {
      "get": {
        "description": "You can use this endpoint to get details of the parent account.",
        "operationId": "Fetch parent account details",
        "parameters": [
          {
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountDetailsResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch parent account details",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}/balance": {
      "get": {
        "description": "You can use this endpoint to get the balance of a single account.",
        "operationId": "Fetch account balance",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account whose balance is to be fetched.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountBalanceResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch account balance",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/balance": {
      "get": {
        "description": "You can use this endpoint to get the balance of the parent account.",
        "operationId": "Fetch parent account balance",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AccountBalanceResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch parent account balance",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/suspend/{accountId}": {
      "put": {
        "description": "You can use this endpoint to suspend an account.",
        "operationId": "Suspend an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account to be suspended.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "type": "boolean",
                      "description": "Response data",
                      "example": true
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Suspend an account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/reactivate/{accountId}": {
      "put": {
        "description": "You can use this endpoint to reactivate an account.",
        "operationId": "Reactivate an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account to be reactivated.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "type": "boolean",
                      "description": "Response data",
                      "example": true
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Reactivate an account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}/terminals": {
      "get": {
        "description": "You can use this endpoint to fetch terminals linked to an account.",
        "operationId": "Fetch terminals assigned to an account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The accountId whose transactions are to be fetched.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "2KUD1234",
            "in": "query",
            "name": "terminalId",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "91235335668790",
            "in": "query",
            "name": "serialNumber",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal Label",
            "example": "M.A.Terminal",
            "in": "query",
            "name": "terminalLabel",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Merchant Name",
            "example": "Daniel.Sc",
            "in": "query",
            "name": "merchantName",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TerminalListResults"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch terminals assigned to an account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/terminals": {
      "get": {
        "description": "You can use this endpoint to fetch terminals linked to the parent account.",
        "operationId": "Fetch terminals assigned to the parent account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "2KUD1234",
            "in": "query",
            "name": "terminalId",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal ID",
            "example": "91235335668790",
            "in": "query",
            "name": "serialNumber",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Terminal Label",
            "example": "M.A.Terminal",
            "in": "query",
            "name": "terminalLabel",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "description": "Merchant Name",
            "example": "Daniel.Sc",
            "in": "query",
            "name": "merchantName",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TerminalListResults"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch terminals assigned to the parent account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/{accountId}/access": {
      "put": {
        "description": "You can use this endpoint to update the access of an api client within an account.",
        "operationId": "Update access to account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account, where access is to be updated.",
            "example": "2242b79d-f2cf-4ccc-ada1-e890bd1a9f0d",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAccessRequest"
              }
            }
          },
          "description": "The request payload required to update access to account",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GenericObjectResult"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Update access to account",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/v1/accounts/virtual": {
      "post": {
        "description": "You can use this endpoint to create a virtual account to receive payments.",
        "operationId": "Create virtual account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVirtualAccountRequest"
              }
            }
          },
          "description": "The request payload required to create an account",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CreateVirtualAccountResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "Virtual account creation successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Create virtual account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          }
        ],
        "tags": [
          "Virtual Accounts"
        ]
      }
    },
    "/v1/accounts/virtual/list": {
      "post": {
        "description": "You can use this endpoint to filter your virtual accounts.",
        "operationId": "Filter virtual accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterVirtualAccountRequest"
              }
            }
          },
          "description": "The request payload required to filter virtual accounts.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VirtualAccountListResults"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Filter virtual accounts",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "This endpoint is paginated. `limit` describes the size of the page you are querying",
            "example": 10,
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "description": "The `cursor` is used to scroll to the next page. When making the first call to list all accounts, there is no need to pass in any cursor since the API has not returned any cursor back to you. Only use cursor when the API provides it",
            "example": "xchbaVFsjdsbaADddd",
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "tags": [
          "Virtual Accounts"
        ]
      }
    },
    "/v1/accounts/virtual/{accountRef}": {
      "put": {
        "description": "You can use this endpoint to update a virtual account.",
        "operationId": "Update a virtual account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVirtualAccountRequest"
              }
            }
          },
          "description": "The request payload required to update a virtual account",
          "required": true
        },
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account reference of the virtual account to be updated.",
            "example": "3UixJxjfeEZacxYbiNNAJa5R4e9DR",
            "in": "path",
            "name": "accountRef",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3UixJxjfeEZacxYbiNNAJa5R4e9DR"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UpdateVirtualAccountResponse"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Update a virtual account",
        "tags": [
          "Virtual Accounts"
        ]
      },
      "get": {
        "description": "You can use this endpoint to fetch a virtual account.",
        "operationId": "Fetch a virtual account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account reference of the virtual account to be fetched.",
            "example": "3UixJxjfeEZacxYbiNNAJa5R4e9DR",
            "in": "path",
            "name": "accountRef",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3UixJxjfeEZacxYbiNNAJa5R4e9DR"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "00",
                      "description": "Response Code"
                    },
                    "description": {
                      "type": "string",
                      "example": "Success",
                      "description": "Response description"
                    },
                    "data": {
                      "$ref": "#/components/schemas/VirtualAccountObject"
                    }
                  },
                  "required": [
                    "code",
                    "description",
                    "data"
                  ]
                }
              }
            },
            "description": "OK - your request was successful.",
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The number of allowed requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "40"
                }
              },
              "X-Rate-Limit-Remaining": {
                "description": "The number of remaining requests in the current period",
                "schema": {
                  "type": "string",
                  "example": "39"
                }
              },
              "X-Rate-Limit-Window": {
                "description": "The specified rate limit window",
                "schema": {
                  "type": "string",
                  "example": "1s"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                }
              }
            },
            "description": "The request body sent by merchant did not pass the validation checks"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticationError"
                }
              }
            },
            "description": "The access_token provided to access the resource is missing or invalid."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationError"
                }
              }
            },
            "description": "The client does not have the permissions to access this resource"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordNotFoundError"
                }
              }
            },
            "description": "The record that the client is trying to access does not exist."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "description": "The client has maxed out the number of calls within a time period on this resource."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            },
            "description": "Downstream system error."
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Fetch a virtual account",
        "tags": [
          "Virtual Accounts"
        ]
      },
      "delete": {
        "description": "You can use this endpoint to expire a virtual account.",
        "operationId": "Expire a virtual account",
        "parameters": [
          {
            "description": "The parent accountId of the business.",
            "in": "header",
            "name": "accountId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "890022ce-bae0-45c1-9b9d-ee7872e6ca27"
            },
            "required": true
          },
          {
            "description": "The account reference of the virtual account to be expired.",
            "example": "3UixJxjfeEZacxYbiNNAJa5R4e9DR",
            "in": "path",
            "name": "accountRef",
            "required": true,
            "schema": {
              "type": "string",
              "example": "3UixJxjfeEZacxYbiNNAJa5R4e9DR"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
[...]
